*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    user-select: none;
}
body{
    background-color: rgb(230, 230, 230);
    transition: 1s ease;
}
header{
    display: block;
    background-color: rgb(15, 15, 15);
    height: 110px;
    width: 100%;
    position: absolute;
    text-align: center;
}
footer{
    display: block;
    background-color: rgb(15, 15, 15);
    height: 110px;
    width: 100%;
    text-align: center;
    color: rgb(230, 230, 230);
    padding-top: 1em;
    margin-bottom: 0;
    position: absolute;
    bottom: 0px;
}
#logoMain{
    height: 92%;
    margin-top: 3px;
}
#changeButton{
    width: 10%;
    height: 80px;
    border: none;
    color: rgb(230, 230, 230);
    border-radius: 15px;
    font-size: large;
    margin: auto;
    position: absolute;
    bottom: 120px;
    left: 45%;
    background-color: rgb(15, 15, 15);
    transform: 1s ease;
}
#changeButton:hover{
    cursor:pointer;
}
#hexdec{
    width: 15%;
    height: 2em;
    border: none;
    color: rgb(230, 230, 230);
    border-radius: 15px;
    font-size: large;
    margin: auto;
    position: absolute;
    bottom: 120px;
    left: 5%;
    background-color: rgb(15, 15, 15);
    text-align: center;
    user-select: all;
    padding-top: 0.5em
}
#inputColor{
    width: 15%;
    height: 2em;
    border-radius: 15px;
    font-size: large;
    margin: auto;
    position: absolute;
    bottom: 120px;
    right: 5%;
    text-align: center;
}
#testDiv1{
    background-color: black;
}

#testDiv2{
    background-color: rgba(0, 0, 0, 0.637);
}

.designExamples{
    width: 30%;
    color: white;
    border-radius: 15px;
    padding: 2em;
}
#container{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content: space-around;
    position: absolute;
}
@media screen and (max-width: 800px){
    #container{
        flex-direction: column;
        margin-top: 28%;
        width: 90%;
        margin-left: 5%;
    }
    .designExamples{
        width: 90%;
        height: 60%;
        font-size: 15px;
    }
    #changeButton{
        width: 30%;
        left: 35%;
    }
}